/* -------------- TAG SELECTORS ----------------------*/
body {
  background-color: #F5D5AE;
}

img {

height: 180px;

}

hr {
  size: 3;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #EF9A53;
}

h3 {
  color: #C539B4;
}

table {

font-size: 10px;

}

ul {

border: 1px solid black;

}



/* -------------- CLASS SELECTORS ----------------------*/

.description {

color: #852999;

font-size: 15px;

}

/* -------------- ID SELECTORS ----------------------*/
